@import "tailwindcss";
@import "tailwindcss";

@layer utilities {
  .bg-custom-gradient {
    background-image: linear-gradient(90deg, #08203E, #bdd2de);
  }
}

@keyframes gradient{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}