@import "tailwindcss";
@import "tailwindcss";

@layer utilities {
  .bg-custom-gradient {
    background-image: linear-gradient(90deg, #08203E, #bdd2de);
  }
}

@keyframes gradient{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
/* Remove default browser styles */
.custom-slider {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  background: linear-gradient(
    to right,
    #34d399 0%,
    #10b981 100%
  );
  border-radius: 9999px;
  outline: none;
}

/* Track (Firefox) */
.custom-slider::-moz-range-track {
  height: 6px;
  background: linear-gradient(to right, #34d399, #10b981);
  border-radius: 9999px;
}

/* Thumb (Chrome, Edge, Safari) */
.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ecfdf5;
  border-radius: 50%;
  border: 3px solid #10b981;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Thumb hover */
.custom-slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px #10b981;
}

/* Thumb (Firefox) */
.custom-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ecfdf5;
  border-radius: 50%;
  border: 3px solid #10b981;
  cursor: pointer;
}
